<!--  <!DOCTYPE html> -->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<!--  <html lang="en"> -->
<div th:fragment="footer" class="bg-light text-center text-lg-start">
<!-- <nav class="navbar-dark navbar-inverse navbar-fixed-bottom">
    <a class="navbar-brand" href="https://burai.live">© Burai.LLC 2022</a>
</nav> -->
		<!-- Copyright -->
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);" >
			© 2022 Copyright:
			<a class="text-white" href="https://burai.live">© Burai.LLC 2022</a>
		</div>
		<!-- Copyright -->
	</div>
</html>
